<div class="form-layout">
  <h2 class="form-heading heading heading-2">Explore more</h2>
  <form class="form-group" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    
    <div class="form-input form-photo">
      <label class="form-label label-photo" for="photoUrl">
        @if (photoUrl) {
          <img [src]="photoUrl" alt="Selected Image">
        }
        @else {
          <img src="https://volunteermedicalcorps.org/worldhealthday/avatar/dist/images/avatar.png" alt="Selected Image">
        }
      </label>
      <input type="file" hidden id="photoUrl" (change)="onFileSelected($event)" />
    </div>
    
    <div class="form-input form-email">
      <label class="form-label" for="email">Email:</label>
      <input class="form-control" type="email" id="email" formControlName="email" />
      @if (registerForm.get('email')!.invalid &&
      (registerForm.get('email')!.dirty ||
        registerForm.get('email')!.touched)) {
          @if (registerForm.get("email")!.errors!["required"]) {
            <span class="form-text form-validation-error">Email is required.</span>
          }
          @if (registerForm.get("email")!.errors!["email"]) {
            <span class="form-text form-validation-error">Invalid email format.</span>
          }
        }
    </div>
  
    <div class="form-input form-password">
      <label class="form-label" for="password">Password:</label>
      <input
        class="form-control"
        type="password"
        id="password"
        formControlName="password"
        autocomplete="current-password"
      />
      @if (registerForm.get('password')!.invalid &&
      (registerForm.get('password')!.dirty ||
        registerForm.get('password')!.touched)) {
          @if (registerForm.get("password")!.errors!["required"]) {
            <span class="form-text form-validation-error">Password is required.</span>
          }
          @if (registerForm.get("password")!.errors!["minlength"]) {
            <span class="form-text form-validation-error">Password must be at least 6 characters long.</span>
          }
        }
        @else {
          <span class="form-text">6-20 chars, A-Z & 0-9</span>
        }    
    </div>
  
    <div class="form-cta form-button-group">
      <button type="reset">Reset</button>
      <button type="submit" [disabled]="!registerForm.valid">Submit</button>
    </div>
  </form>
  
  <div>
    <a routerLink="../login">Already have account | Log in</a>
  </div>
</div>
  
