<form class="form-layout" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="photoUrl">photoUrl:</label>
    <input type="file" id="photoUrl" (change)="onFileSelected($event)" />
  </div>
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email" />
    <div
      *ngIf="
        registerForm.get('email')!.invalid &&
        (registerForm.get('email')!.dirty || registerForm.get('email')!.touched)
      "
    >
      <span *ngIf="registerForm.get('email')!.errors!['required']"
        >Email is required.</span
      >
      <span *ngIf="registerForm.get('email')!.errors!['email']"
        >Invalid email format.</span
      >
    </div>
  </div>

  <div>
    <label for="password">Password:</label>
    <input
      type="password"
      id="password"
      formControlName="password"
      autocomplete=""
    />
    <div
      *ngIf="
        registerForm.get('password')!.invalid &&
        (registerForm.get('password')!.dirty ||
          registerForm.get('password')!.touched)
      "
    >
      <span *ngIf="registerForm.get('password')!.errors!['required']"
        >Password is required.</span
      >
      <span *ngIf="registerForm.get('password')!.errors!['minlength']"
        >Password must be at least 6 characters long.</span
      >
    </div>
  </div>

  <button type="submit" [disabled]="!registerForm.valid">Submit</button>

  <div>
    <a routerLink="../login">Already have account | Log in</a>
  </div>
</form>
