.form-layout {
  height: 100dvh;
  background: beige;
}

.flex-container {
  height: 100%;
  display: grid;
  background: white;
  box-shadow: 0 0 8px hsla(0, 0%, 0%, 0.1);

  border-radius: 8px;
  overflow: hidden;
}

.form-image {
  display: none;
}

.flex-container > .form-image,
.flex-container > .form-info {
  height: 100%;
}

.form-image {
  position: relative;
}

.form-image img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 125ms ease-in;
}

/* region Form Info */
.flex-container > .form-info {
  padding: 32px max(32px, 8%);
}

.form-info .form-heading {
  margin-bottom: 32px;
  text-align: center;
}

.form-info .form-group .form-input {
  display: flex;
  flex-direction: column;
  margin-block: 4px 32px;
}

.form-info .form-group .form-control {
  padding: 12px;
  margin-top: 4px;
}

.form-info .form-group .form-control-error {
  border-color: var(--color-danger);
}

/* endregion */

.form-button-group {
  display: flex;
  gap: 32px;
}

.form-button-group > * {
  flex-grow: 1;
  padding-block: 12px;
}

.link-cta {
  margin-top: 64px;
}

@media (width > 880px) {
  .form-layout {
    height: 100dvh;
    background: beige;
    padding: 64px max(32px, 8%);
  }

  .flex-fluid {
    grid-template-columns: 3fr 4fr;
  }

  .form-image {
    display: block;
    overflow: hidden;
  }

  .form-image:hover img {
    scale: 102%;
  }
}
