<div class="form-layout">
  <h2 class="form-heading heading heading-2">Explore more</h2>
  <form class="form-group" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    
    <div class="form-input form-email">
      <label class="form-label" for="email">Email:</label>
      <input class="form-control" type="email" id="email" formControlName="email" />
      @if (loginForm.get('email')!.invalid &&
      (loginForm.get('email')!.dirty ||
        loginForm.get('email')!.touched)) {
          @if (loginForm.get("email")!.errors!["required"]) {
            <span class="form-text form-validation-error">Email is required.</span>
          }
          @if (loginForm.get("email")!.errors!["email"]) {
            <span class="form-text form-validation-error">Invalid email format.</span>
          }
        }
    </div>
  
    <div class="form-input form-password">
      <label class="form-label" for="password">Password:</label>
      <input
        class="form-control"
        type="password"
        id="password"
        formControlName="password"
        autocomplete="current-password"
      />
      @if (loginForm.get('password')!.invalid &&
      (loginForm.get('password')!.dirty ||
        loginForm.get('password')!.touched)) {
          @if (loginForm.get("password")!.errors!["required"]) {
            <span class="form-text form-validation-error">Password is required.</span>
          }
          @if (loginForm.get("password")!.errors!["minlength"]) {
            <span class="form-text form-validation-error">Password must be at least 6 characters long.</span>
          }
        }
        @else {
          <span class="form-text">6-20 chars, A-Z & 0-9</span>
        }    
    </div>
  
    <div class="form-cta form-button-group">
      <button type="reset">Reset</button>
      <button type="submit" [disabled]="!loginForm.valid">Submit</button>
    </div>
  </form>
  
  <div>
    <a routerLink="../register">Newbie here | Create new account</a>
  </div>
</div>
  
